<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>signup</div>
    <form action="/sign-up" method="post">
        <div class="inputContainer">
            <label for="username">Username: </label>
            <input type="text" id="username" name="username">
        </div>
        <div class="inputContainer">
            <label for="password">Password: </label>
            <input type="password" id="password" name="password">
        </div>
        <div class="inputContainer">
            <label for="confirmPassword">Confrim Password: </label>
            <input type="password" id="confirmPassword" name="confirmPassword">
        </div>
        <button class="submitBtn">Create Account</button>
    </form>
</body>
</html>