.sideImage{
    width: 40%;
    background-image: url('/foldersImage.jpg');
    background-size: cover;
}

.container{
    gap: 10%;
    background-color: #1F2430;
}

h1{
    font-weight: 600;
    color: white;
}

p{
    font-weight: 500;
    color: white;
}

a{
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;  
}

.inputContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    color: white;
    background-color: #0D121E;
    padding: 20px;
    transition: .2s;
    font-size: 1rem;
    border: 1px solid transparent;
}

form, .welcomeHeader{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.welcomeHeader{
    gap: 20px !important;
}

input:focus{
    border: 1px solid white;
}

.passwordInput{
    position: relative;
}

.showPassword{
    height: 25px;
    width: 25px;
    position: absolute;
    background-image: url('/close-eye.png');
    background-size: cover;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    filter: brightness(0) invert(1);
}

.show{
    background-image: url('/show.png');
}

label{
    font-size: .9rem;
    color: white;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.submitBtn {
    height: 40px;
    background-color: #0D121E;
    border: none;
    overflow: hidden;
    color: white;
    cursor: pointer;
    position: relative;
    transition: all 0.8s ease;
}

.error{
    border: 1px solid red;
    background-color: transparent;
}

span{
    font-size: .8rem;
    color: red;
}